$transition: all 0.2s;

.Enter {
	opacity: 0;
	transform: translateY(20px);
}

.EnterDone {
	opacity: 1;
	transform: translateY(0);
	transition: $transition;
}

.Exit {
	transform: translateY(20px);
	opacity: 0;
	transition: $transition;
}

.Dropdown {
	width: 100%;
}
